* {
  font-family: "Raleway";
  margin: 0;
}

body {
  font-family: "Raleway";
  color: white;
}

.nav-menu :hover {
  font-weight: bolder;
  background-color: aquamarine;
  padding: 10px;
  transition: 0.3s;
  border-radius: 25%;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 10px;
}
a {
  color: #000;
  text-decoration: none;
}
.logo {
  font-size: 50px;
  font-weight: 500;
}

nav {
  display: flex;
  background-color: rgba(91, 232, 100, 0.418);
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

li {
  list-style: none;
}

.navbar {
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.nav-menu {
  display: flex;
  justify-content: space space-between;
  align-items: center;
  gap: 60px;
}
.nav-item {
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 5px;
}
form {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
}
label {
  display: block;
  margin-bottom: 5px;
  color: #000;
  padding: 5px;
}
input,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}
input[type="submit"] {
  background-color: #000;
  color: #100202;
  cursor: pointer;
}

.submit-button {
  background-color: #4caf50;
  color: rgb(21, 3, 3);
  padding: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}

.submit-button:hover {
  background-color: #45a049;
}

footer {
  color: black;
  background-color: rgba(31, 119, 21, 0.27);
  padding: 20px;
  padding-left: 20px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
